body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e6ebee;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: sans-serif;
}

/* LEFT  NAV DESIGN STARTS FROM HERE */
.general {
  padding-bottom: 6rem;
  background-color: #ffffff;
  max-width: 100%;
  height: 879px;
  margin: auto;
  border-radius: 2rem;
  display: flex;
}

.left_container {
  padding-bottom: 3rem;
  width: 26%;
  height: 926px;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.right_container {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  margin-right: 0.4rem;
  width: 100%;
  height: 60rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  background-color: #ecf1f4;
}
.logo {
  display: block;
  margin: auto;
  margin-top: 2.4rem;
  padding-right: 3rem;
}
.main_menu_text {
  display: block;
  font-size: 12px;
  color: #b3b2b6;
  padding-left: 2.5rem;
  padding-top: 1rem;
}
.main_menu_others {
  display: block;
  font-size: 12px;
  color: #b3b2b6;
  padding-top: 1rem;
}
.menu_li,
a {
  list-style: none;
  text-decoration: none;
  color: #b3b2b6;
  font-size: 0.8rem;
}

.dasboard,
.Transaction,
.card_center,
.Contacts,
.E_wallet,
.Reports,
.Settings,
.help_center {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.dashboard_logo,
.Transaction_logo,
.card_center_logo,
.Contacts_logo,
.E_wallet_logo,
.Reports_logo,
.Settings_logo,
.help_center_logo,
.menu_li {
  cursor: pointer;
  width: 1.4rem;
  margin-bottom: 2rem;
  white-space: nowrap;
}

.expand_arrow_logo {
  cursor: pointer;
  width: 0.8rem;
  margin-left: 4rem;
  margin-bottom: 2em;
}

.footer_container {
  display: flex;
  align-items: center;
}
.copywrite_logo {
  width: 0.9rem;
  height: 0.9rem;
}
.foot_text {
  font-size: 0.8em;
}
.footer_text2 {
  font-size: 0.7rem;
  padding-right: 1rem;
  margin-top: -0rem;
  color: #b3b2b6;
}
.footer_wrapper {
  margin-top: 15.8rem;
}
/* LEFT  NAV DESIGN ENDS HERE */
.header_wrapper,
.afterHeaderLeft_container,
.afterHeaderright_container {
  margin: 2rem;
}
.title_left {
  color: #141c2e;
  font-size: 1.2rem;
  font-weight: bold;
}
.leftNAV_paragraph_text {
  color: #b3b2b6;
  margin-top: -0.4rem;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moon_container {
  cursor: pointer;
  margin-right: 1rem;
  background: #fef8ff;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  padding: 1rem 0rem 1rem 0rem;
  border-radius: 0.8rem;
  box-shadow: 0px 0.2px 1px rgba(0, 0, 0, 0.25);
}
.moon_logo {
  width: 1.2rem;
  display: block;
  margin: 0 auto;
}

.notification_container {
  cursor: pointer;
  margin-right: 1rem;
  background: #fef8ff;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  padding: 1rem 0rem 1rem 0rem;
  border-radius: 0.8rem;
  box-shadow: 0px 0.2px 1px rgba(0, 0, 0, 0.25);
}
.notification_logo {
  width: 1.2rem;
  display: block;
  margin: 0 auto;
}
.man_container {
  cursor: pointer;
  margin-right: 1rem;
  background: #fef8ff;
  width: 3rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  padding: 1rem 0rem 1rem 0rem;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 0.2px 1px rgba(0, 0, 0, 0.25);
}

.man_logo {
  max-width: 80%;
  height: auto;
  background-color: #e4e5e8;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-top: -0.7rem;
}

.icon_right {
  font-size: 0;
}
.icon_right > div {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}

.right_general {
  display: flex;
}

.debitText_dotDIV {
  margin: 0.2rem 2rem 0.2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more_straight_logo {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.debit_text {
  font-size: 0.8rem;
  color: #252c32;
}

.afterHeaderLeft_container {
  background-color: #ffffff;
  width: 60%;
  height: 40vh;
  border-radius: 1.5rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.afterHeaderright_container {
  background-color: #ffffff;
  width: 40%;
  height: 40vh;
  border-radius: 1.5rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.cardImageADD_wrapper {
  margin-left: 1rem;
}

.card_image {
  width: 55%;
}

.AddDebit_right {
  background-color: #f7f7f7;
  width: 30%;
  height: 150px;

  border-radius: 1.5rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.cardImageADD_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.plusBody_carrier {
  background-color: #ccd2de;
  width: 50%;
  height: 50%;
  display: block;
  margin: 0 auto;
  border-radius: 1rem;
  margin-top: 1.8rem;
  margin-bottom: 1rem;
}

.plusAAd2 {
  width: 20px;
  height: 20px;
  display: block;
  margin: 0 auto;
  padding-top: 1.6rem;
}

.addDebit_text {
  font-size: 0.6rem;
  text-align: center;
}

.TotalBalalnce_text {
  text-align: center;
  font-size: 0.6rem;
  color: #2b3143;
  margin-top: 1.3rem;
  font-weight: 800;
}

.data_text {
  text-align: center;
  font-size: 0.8rem;
  color: #b9bdbf;
}

.money_text {
  text-align: center;
  color: #1c6272;
  font-weight: 800;
}

.sendTopupMore_container {
  background-color: #e8f0f2;
  width: 90%;
  height: 35%;
  display: block;
  margin: 0 auto;
  border-radius: 1rem;
  margin-top: 2rem;
}

.sendicon_div,
.topUp_div,
.more_div {
  cursor: pointer;
  border-radius: 0.7rem;
  background-color: #fffdfe;
  width: 70px;
  height: 60px;
  margin-bottom: 1rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.send_icon,
.topup_icon,
.more_icon {
  width: 22px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 0.6rem;
}
.sent_text,
.toptup_text,
.more_text {
  cursor: pointer;
  font-size: 0.7rem;
  margin-top: 0.4rem;
  text-align: center;
}

.sendTopupMore_wrapper {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.sendTopupMore_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right_general {
  margin-top: -2rem;
}

.recent_transactions_div {
  margin: 2rem;
  background-color: #ffffff;
  width: 60%;
  height: 44vh;
  border-radius: 1.5rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.expenses_instead_div {
  margin: 2rem;
  background-color: #ffffff;
  width: 40%;
  height: 44vh;
  border-radius: 1.5rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.recent_transcExpenses_wrapper {
  margin-top: -1rem;
  display: flex;
}
.invoice_activity {
  padding-bottom: 6rem;
  margin: 2rem;
  background-color: #ffffff;
  width: 93%;
  height: 10vh;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.text_searchCalender,
.search_calanderDIV {
  cursor: pointer;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -12rem;
}

.recent_transactions_div {
  display: flex;
  justify-content: space-between;
}

.recent_transactions_text {
  margin-top: -1rem;
  font-size: 0.9rem;
}

.search_calanderDIV {
  display: flex;
  justify-content: center;
  margin-top: -14rem;
}

.search_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 6px;
  padding: 0.6rem 0.4rem;
  border-radius: 0.4rem;
  border: 1px solid #cacfd7;
  margin-right: 0.4rem;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
}

.search_icon {
  cursor: pointer;
  width: 4rem;
  height: 1rem;
}

#date {
  border: none;
  border: 1px solid #cacfd7;
  padding: 0.3rem;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
}

.calender_div {
  width: 6rem;
  height: 25px;
  border: 1px solid #cacfd7;
  border-radius: 0.6rem;
  display: flex;
  justify-content: center;
  padding: 0.1rem 0.4rem;
}

.calendar_icon {
  width: 1rem;
  margin-right: 0.2rem;
}
.calandar_tex {
  cursor: pointer;
  font-size: 0.5rem;
  font-weight: 800;
  color: #7e7c89;
  margin-right: 0.2rem;
}
.down_arrow {
  cursor: pointer;
  width: 0.7rem;
}
.calendar_text_arrowdown {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.payal_div,
.spotify_div,
.transferW_div,
.H_and_M_div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  background-color: #fffdfe;
  width: 2rem;
  height: 2rem;
  margin-top: 0.6rem;
  margin-bottom: 1rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.paypal_icon,
.spotify_icon,
.transferW_icon,
.H_and_M_icon {
  width: 1.4rem;
  display: block;
  margin: 0 auto;
}

.payal_div {
  background-color: #e6fcef;
}
.spotify_div {
  background-color: #dbfdee;
}
.transferW_div {
  background-color: #e1fcfb;
}
.H_and_M_div {
  background-color: #f8e5e9;
}

.icons_div {
  position: absolute;
  display: block;
  float: left;
  margin-top: 4rem;
  margin-left: 1.3rem;
  padding-bottom: 4rem;
}

.paypal_text,
.spotify_prenuim_text,
.TransactionW_text,
.H_andM_text {
  font-size: 0.8rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.spotify_date,
.TransferW_date,
.paypal_data,
.H_andM_date {
  margin-top: -0.4rem;
  font-size: 0.7rem;
  color: #c5cacb;
  font-weight: 600;
}

.All_transac_text_div {
  position: absolute;
  display: block;
  float: left;
  margin-top: 4rem;
  margin-left: 4rem;
  padding-bottom: 4rem;
}

.Alltransac_price_DIV {
  display: block;
  margin-top: -12.4rem;
  margin-right: -14rem;
  padding-bottom: 4rem;
  float: right;
}

.paypal_price,
.spotify_price,
.transferW_price,
.H_and_M_price {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.paypal_price,
.transferW_price {
  color: #1c6272;
  font-weight: bold;
}

.spotify_price,
.H_and_M_price {
  color: #a8acb7;
}

.expenses_instead_DIv {
  margin: 0.2rem 2rem 0.2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expenses_instead_logo {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.expenses_instead_text {
  font-size: 0.8rem;
  color: #252c32;
}

/* circle starts here */

.wrapper {
  overflow: hidden;
  margin-left: 4.5rem;
  margin-top: 1rem;
}

.circle {
  width: 400px;
  height: 200px;
  background-color: white;
  border-top-left-radius: 380px;
  border-top-right-radius: 380px;
  border: 100px solid #1c6272;
  border-bottom: 0;

  transition: all 1s ease;

  transform-origin: bottom;
  position: absolute;
  z-index: 1;
  transform: rotate(-180deg);

  bottom: 0;
  left: -200px;
}

.circle-out {
  width: 110px;
  height: 60px;
  background-color: white;
  border-top-left-radius: 480px;
  border-top-right-radius: 480px;
  border: 25px solid #1c6272;
  border-bottom: 0;
  position: relative;
  margin-left: 1rem;
}

.text {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 80%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.Norma_levell_text {
  font-size: 0.8rem;
  color: #1c6272;
  margin-top: 1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.total_expo {
  display: block;
  margin: 0 auto;
  border: none;
  color: #1c6272;
  padding: 0.8rem 1rem 0.8rem 1rem;
  background-color: #e8f0f2;
  border-radius: 0.8em;
  font-size: 0.8rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.price_span {
  color: #1c6272;
  font-weight: bold;
}

.general_up_div {
  padding-top: 0.6rem;
  display: flex;
  justify-content: space-between;
}

.right_search_etcDiv {
  display: flex;
}
.invoice_search_div,
.invoice_filter_div,
.invoice_export_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -1.9rem;
}

.invoice_text {
  margin-bottom: 2.6rem;
  font-size: 0.9rem;
  margin-left: 1.8rem;
}

.invoice_input {
  margin-top: 1rem;
  margin-bottom: 1.8rem;
  width: 60%;
  border: none;
  border: 1px solid #ccc;
  padding: 0.5rem 0.4rem 0.5rem 0.4rem;
  border-radius: 0.5rem;
  outline: none;
  padding-left: 2rem;
}

.invoice_search_icon {
  cursor: pointer;
  width: 1.4rem;
  position: absolute;
  margin-right: 5.4rem;
  margin-top: -0.6rem;
}

.invoice_filter_icon,
.invoice_export_icon {
  width: 1rem;
  margin-right: 0.4rem;
}

.invoice_filter_tex,
.invoice_export_Text {
  cursor: pointer;
  font-size: 0.8rem;
  color: #717679;
  font-weight: bold;
}

.invoice_filter_div,
.invoice_export_div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #b6c3cd;
  border-radius: 0.6rem;
  background-color: #fffdfe;
  width: 5rem;
  height: 2rem;
  margin-top: 1rem;
  margin-left: -0.1rem;
  box-shadow: 0px 0.2px 0.4px rgba(0, 0, 0, 0.12);
}
.invoice_export_div {
  margin-right: 1.6rem;
}
.invoice_filter_div {
  margin-right: 0.6rem;
}

.invoiceactivity_menu_DIV {
  background-color: #e8f0f271;
  width: 95%;
  margin-top: 4rem;
  height: 40px;
  margin: auto;
  border-radius: 0.6rem;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.invoice_menu_li {
  list-style: none;
}

.invoice_a {
  text-transform: uppercase;
  font-weight: bolder;
}
.Invoice_Menu_ul {
  display: flex;
  justify-content: space-around;
  gap: 3.5rem;
}

.invoiceactivity_menu_DIV {
  display: flex;
  align-items: center;
}

/* MEDIA QUERIES STARTS HERE */

/* Mobile devices */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e6ebee;
    font-family: sans-serif;
  }

  .right_general {
    display: flex;
    flex-wrap: wrap;
  }
  .left_container {
    display: none;
  }

  .mobile_nav_bar {
    margin-left: -12.4rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
  .menu_open_logo,
  .menu_close_logo {
    width: 1.4rem;
    position: absolute;
    margin-top: -7.8rem;
    margin-right: -rem;
    cursor: pointer;
  }
  .menu_open_logo {
    margin-left: 12.1rem;
    margin-top: -23.2rem;
  }
  .menu_close_logo {
    display: none;
  }
  .title_left_container {
    display: flex;
  }
  .icon_right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .notification_container,
  .moon_container {
    display: none !important;
  }
  .man_container {
    margin-bottom: 1.7rem;
    margin-left: 6rem;
  }
  .title_left {
    display: none;
  }

  .leftNAV_paragraph_text {
    font-size: 0.8rem;
    white-space: nowrap;
    font: bolder;
    color: #ffffff;
  }

  .general {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 99.8rem;
    display: block;
    border-radius: 0.1rem;
    background-color: #ecf1f4;
  }
  .right_container {
    height: 16rem;
    background: radial-gradient(circle at center, #176977, #06323b);

    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    padding-top: 4rem;
    margin-top: -1.9rem;
    margin-bottom: -1.9rem;
  }

  .afterHeaderLeft_container {
    width: 100%;
    height: 12rem;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  }

  .afterHeaderright_container {
    margin-top: -0.2rem;
    margin-bottom: 3rem;
    width: 100%;
    height: 14rem;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  }
  .sent_text,
  .toptup_text,
  .more_text {
    margin-top: -0.1rem;
  }
  .send_icon,
  .topup_icon,
  .more_icon {
    width: 1rem;
  }

  .sendicon_div,
  .topUp_div,
  .more_div {
    width: 3rem;
    height: 3rem;
  }
  .sendTopupMore_wrapper {
    padding: 1rem;
  }
  .sendTopupMore_container {
    margin-top: -0rem;
    width: 90%;
    height: 4rem;
  }

  .AddDebit_right {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
  }

  .plusAAd2 {
    margin-top: -0.8rem;
    padding-top: 0.4rem;
  }
  .plusBody_carrier {
    margin-right: 1rem;
  }
  .addDebit_text {
    margin-top: 2rem;
    white-space: nowrap;
  }

  .recent_transcExpenses_wrapper {
    display: block;
  }

  .recent_transactions_div {
    margin-top: 0.1rem;
    width: 80%;
    height: 18rem;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  }
  .calender_div {
    display: none;
  }

  .search_div {
    margin-left: -2rem;
  }
  .recent_transactions_text {
    white-space: nowrap;
  }

  .expenses_instead_div {
    width: 80%;
    height: 17rem;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  }
  .circle-out {
    margin-left: -1.3rem;
  }

  .icons_div {
    display: none;
  }
  .paypal_price,
  .spotify_price,
  .transferW_price,
  .H_and_M_price {
    font-size: 0.8rem;
    margin-bottom: 2.3rem;
    margin-left: -12.4rem;
  }

  .wrapper {
    display: block;
    margin: 0 auto;
    margin-left: 3rem;
    padding-left: 2rem;
  }
  .total_expo {
    margin-top: -1rem;
  }
  .expenses_instead_text {
    margin-top: 1rem;
  }

  .right_general {
    background-color: rgba(241, 237, 237, 0);
  }
  .invoice_activity {
    margin-top: 3rem;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    height: 15rem;
  }
  .invoice_search_icon {
    margin-top: -1.3rem;
  }

  .invoice_export_div,
  .invoice_input,
  .invoice_filter_div {
    display: none;
  }
  .Invoice_Menu_ul {
    margin-top: 3rem;
    display: block !important;
    margin-left: -1rem;
  }
  .invoice_menu_li {
    margin-bottom: 1.9rem;
  }

  .invoiceactivity_menu_DIV {
    width: 100%;
    height: 18rem;
    margin-top: -1rem;
    background-color: white;
  }

  .invoice_activity {
    background: radial-gradient(circle at center, #176977, #06323b);
  }

  .invoice_text {
    color: white;
    font-size: 1.1rem;
  }

  .invoice_a {
    color: rgba(0, 0, 0, 0.6) !important;
    font-weight: bold;
  }
  .paypal_text_div,
  .spotify_prenuim_div,
  .TransactionW_div,
  .H_andM_div {
    margin-left: -3rem !important;
    margin-top: 1rem;
  }
}

/* iPads, Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .left_container {
    display: none;
  }
  .AddDebit_right {
    width: 7rem;
    height: 7rem;
  }
  .addDebit_text {
    margin-top: -0.6rem;
  }
  .plusBody_carrier {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .plusAAd2 {
    margin-top: -1.6rem;
  }
  .recent_transactions_div {
    width: 50rem;
    height: 18rem;
  }
  .Alltransac_price_DIV {
    padding-left: 4rem;
    margin-right: -8rem;
  }
  .expenses_instead_div {
    width: 33rem;
    height: 18rem;
  }
  .wrapper {
    margin-left: 2rem;
    margin-right: -2rem;
  }

  .TotalBalalnce_text {
    margin-top: rem;
  }
  .sendicon_div,
  .topUp_div,
  .more_div {
    width: 3rem;
    height: 3rem;
  }
  .sent_text,
  .toptup_text,
  .more_text {
    font-size: 0.6rem;
    margin-top: -0rem;
  }
  .sendTopupMore_container {
    height: 3.4rem;
    padding: 0.2rem;
  }
  .invoice_activity {
    margin-top: 3.2rem;
  }

  .mobile_nav_bar {
    margin-left: -12.4rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
  .menu_open_logo,
  .menu_close_logo {
    width: 1.4rem;
    position: absolute;
    margin-top: -7.8rem;
    margin-right: -rem;
    cursor: pointer;
  }
  .menu_close_logo {
    margin-left: -16rem;
    margin-top: -9.8rem;
    display: none;
  }
  .menu_open_logo {
    margin-left: -22rem;
    margin-top: -15.8rem;
    display: block;
    padding: 6rem;
  }
}

/* Small screens, laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .general {
    background-color: #ffffff;
    width: 100%;
    height: 60rem;
    margin: auto;
    border-radius: 2rem;
    display: flex;
  }
  .left_menu {
    margin-right: 2rem;
  }
  .left_container {
    height: 62.9rem;
  }
  .right_container {
    height: 60rem;
  }
  .general {
    overflow: hidden !important;
  }
  .search_div {
    width: 0.4rem;
    height: 0rem;
  }
  .calender_div {
    margin-right: 2rem;
    width: 5rem;
    height: 1.2rem;
  }

  .calandar_tex {
    font-size: 0.5rem;
    white-space: nowrap;
  }

  .calendar_icon {
    width: 1rem;
  }
  .cardImageADD_wrappererright_container {
    width: 30rem;
    height: 30vh;
  }

  .afterHeaderright_container {
    width: 22rem;
    height: 16rem;
  }
  .afterHeaderLeft_container {
    width: 29rem;
    height: 16rem;
  }
  .AddDebit_right {
    width: 8rem;
    height: 8rem;
    margin-top: 0.6rem;
    margin-left: 1.2rem;
  }

  .card_image {
    margin-top: 0.6rem;
  }

  .cardImageADD_wrapper {
    width: 90%;
  }
  .recent_transactions_div {
    width: 32rem;
    height: 18rem;
  }
  .recent_transactions_text {
    font-size: 1rem;
    white-space: nowrap;
  }
  .TotalBalalnce_text {
    margin-top: -1rem;
  }
  .sendTopupMore_container {
    margin-top: -0.1rem;
  }

  .payal_div,
  .spotify_div,
  .transferW_div,
  .H_and_M_div {
    width: 2rem;
    height: 2rem;
  }
  .paypal_icon,
  .spotify_icon,
  .transferW_icon,
  .H_and_M_icon {
    width: 1.5rem;
  }
  .paypal_text,
  .spotify_prenuim_text,
  .TransactionW_text,
  .H_andM_text {
    margin-left: 1rem;
    font-size: 0.9rem;
  }
  .paypal_data,
  .spotify_date,
  .TransferW_date,
  .H_andM_date {
    margin-left: 1rem;
    font-size: 0.6rem;
  }
  .All_transac_text_div {
    margin-left: 3rem;
  }

  .Alltransac_price_DIV {
    margin-right: -12rem;
  }
  .paypal_price,
  .spotify_price,
  .transferW_price,
  .H_and_M_price {
    font-size: 0.8rem;
    margin-bottom: 2.4rem;
    margin-top: -0rem;
  }

  .expenses_instead_div {
    height: 18rem;
  }
  .total_expo {
    margin-top: -1rem;
  }
  .circle-out {
    padding-left: 3rem;
  }
  .general_up_div {
    margin-top: 3.5rem;
  }
}

/* Desktops, large screens */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .recent_transactions_div {
    padding: 1rem;
  }
  .Alltransac_price_DIV {
    margin-right: -9rem;
  }
  .expenses_instead_div {
    width: 43%;
    height: 21rem;
  }
  .wrapper {
    margin-top: 2rem;
    margin-left: 4.2rem;
  }
  .TotalBalalnce_text {
    margin-top: -2rem;
  }
  .sendicon_div,
  .topUp_div,
  .more_div {
    width: 3.4rem;
    height: 3.4rem;
  }
  .sendTopupMore_container {
    margin-top: -0rem;
  }
  .general {
    height: 60rem;
  }
  .right_container {
    height: 65rem;
  }
  .left_container {
    height: 63rem;
  }
}

/* Extra large screens, TV */
@media only screen and (min-width: 1201px) {
  /* Styles go here */
}

/* MEDIA QUERIES ENDS HERE */
