body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e6ebee;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-family: sans-serif;
}

/* LEFT  NAV DESIGN STARTS FROM HERE */
.general {
  background-color: #ffffff;
  max-width: 90%;
  height: 919px;
  margin: 0 auto;
  border-radius: 2rem;
  display: flex;
}
.left_container {
  width: 26%;
  height: 919px;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.right_container {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  margin-right: 0.4rem;
  width: 100%;
  height: 1000x;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  background-color: #ecf1f4;
}
.logo {
  display: block;
  margin: auto;
  margin-top: 2.4rem;
  padding-right: 3rem;
}
.main_menu_text {
  display: block;
  font-size: 12px;
  color: #b3b2b6;
  padding-left: 2.5rem;
  padding-top: 1rem;
}
.main_menu_others {
  display: block;
  font-size: 12px;
  color: #b3b2b6;
  padding-top: 1rem;
}
.menu_li,
a {
  list-style: none;
  text-decoration: none;
  color: #b3b2b6;
  font-size: 0.8rem;
}

.dasboard,
.Transaction,
.card_center,
.Contacts,
.E_wallet,
.Reports,
.Settings,
.help_center {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.dashboard_logo,
.Transaction_logo,
.card_center_logo,
.Contacts_logo,
.E_wallet_logo,
.Reports_logo,
.Settings_logo,
.help_center_logo,
.menu_li {
  width: 1.4rem;
  margin-bottom: 2rem;
  white-space: nowrap;
}

.expand_arrow_logo {
  width: 0.8rem;
  margin-left: 4rem;
  margin-bottom: 2em;
}

.footer_container {
  display: flex;
  align-items: center;
}
.copywrite_logo {
  width: 0.9rem;
  height: 0.9rem;
}
.foot_text {
  font-size: 0.8em;
}
.footer_text2 {
  font-size: 0.7rem;
  padding-right: 1rem;
  margin-top: -0rem;
  color: #b3b2b6;
}
.footer_wrapper {
  margin-top: 12rem;
}
/* LEFT  NAV DESIGN ENDS HERE */
.header_wrapper,
.afterHeaderLeft_container,
.afterHeaderright_container {
  margin: 2rem;
}
.title_left {
  color: #141c2e;
  font-size: 1.2rem;
  font-weight: bold;
}
.leftNAV_paragraph_text {
  color: #b3b2b6;
  margin-top: -0.4rem;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moon_container {
  margin-right: 1rem;
  background: #fef8ff;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  padding: 1rem 0rem 1rem 0rem;
  border-radius: 0.8rem;
  box-shadow: 0px 0.2px 1px rgba(0, 0, 0, 0.25);
}
.moon_logo {
  width: 1.2rem;
  display: block;
  margin: 0 auto;
}

.notification_container {
  margin-right: 1rem;
  background: #fef8ff;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  padding: 1rem 0rem 1rem 0rem;
  border-radius: 0.8rem;
  box-shadow: 0px 0.2px 1px rgba(0, 0, 0, 0.25);
}
.notification_logo {
  width: 1.2rem;
  display: block;
  margin: 0 auto;
}
.man_container {
  margin-right: 1rem;
  background: #fef8ff;
  width: 3rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  padding: 1rem 0rem 1rem 0rem;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 0.2px 1px rgba(0, 0, 0, 0.25);
}

.man_logo {
  max-width: 80%;
  height: auto;
  background-color: #e4e5e8;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-top: -0.7rem;
}

.icon_right {
  font-size: 0;
}
.icon_right > div {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}

.right_general {
  display: flex;
}

.debitText_dotDIV {
  margin: 0.2rem 2rem 0.2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more_straight_logo {
  width: 20px;
  height: 20px;
}

.debit_text {
  font-size: 0.8rem;
  color: #252c32;
}

.afterHeaderLeft_container {
  background-color: #ffffff;
  width: 60%;
  height: 40vh;
  border-radius: 1.5rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.afterHeaderright_container {
  background-color: #ffffff;
  width: 40%;
  height: 40vh;
  border-radius: 1.5rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.cardImageADD_wrapper {
  margin-left: 1rem;
}

.card_image {
  width: 55%;
}

.AddDebit_right {
  background-color: #f7f7f7;
  width: 30%;
  height: 150px;

  border-radius: 1.5rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.cardImageADD_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.plusBody_carrier {
  background-color: #ccd2de;
  width: 50%;
  height: 50%;
  display: block;
  margin: 0 auto;
  border-radius: 1rem;
  margin-top: 1.8rem;
  margin-bottom: 1rem;
}

.plusAAd2 {
  width: 20px;
  height: 20px;
  display: block;
  margin: 0 auto;
  padding-top: 1.6rem;
}

.addDebit_text {
  font-size: 0.6rem;
  text-align: center;
}

.TotalBalalnce_text {
  text-align: center;
  font-size: 0.6rem;
  color: #2b3143;
  margin-top: 1.3rem;
  font-weight: 800;
}

.data_text {
  text-align: center;
  font-size: 0.8rem;
  color: #b9bdbf;
}

.money_text {
  text-align: center;
  color: #1c6272;
  font-weight: 800;
}

.sendTopupMore_container {
  background-color: #e8f0f2;
  width: 90%;
  height: 35%;
  display: block;
  margin: 0 auto;
  border-radius: 1rem;
  margin-top: 2rem;
}

.sendicon_div,
.topUp_div,
.more_div {
  border-radius: 0.7rem;
  background-color: #fffdfe;
  width: 70px;
  height: 60px;
  margin-bottom: 1rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.send_icon,
.topup_icon,
.more_icon {
  width: 22px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 0.6rem;
}
.sent_text,
.toptup_text,
.more_text {
  font-size: 0.7rem;
  margin-top: 0.4rem;
  text-align: center;
}

.sendTopupMore_wrapper {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.sendTopupMore_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right_general {
  margin-top: -2rem;
}

.recent_transactions_div {
  margin: 2rem;
  background-color: #ffffff;
  width: 60%;
  height: 40vh;
  border-radius: 1.5rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.expenses_instead_div {
  margin: 2rem;
  background-color: #ffffff;
  width: 40%;
  height: 40vh;
  border-radius: 1.5rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.recent_transcExpenses_wrapper {
  margin-top: -1rem;
  display: flex;
}
.invoice_activity {
  margin: 2rem;
  background-color: #ffffff;
  width: 93%;
  height: 20vh;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.text_searchCalender,
.search_calanderDIV {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -12rem;
}

.recent_transactions_div {
  display: flex;
  justify-content: space-between;
}

.recent_transactions_text {
  font-size: 0.9rem;
}

.search_calanderDIV {
  display: flex;
  justify-content: center;
}

.search_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 6px;
  padding: 0.6rem 0.4rem;
  border-radius: 0.4rem;
  border: 1px solid #cacfd7;
  margin-right: 0.4rem;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
}

.search_icon {
  width: 4rem;
  height: 1rem;
}

#date {
  border: none;
  border: 1px solid #cacfd7;
  padding: 0.3rem;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
}

.calender_div {
  width: 8rem;
  height: 29px;
  border: 1px solid #cacfd7;
  border-radius: 0.6rem;
  display: flex;
  justify-content: center;
  padding: 0.1rem 0.4rem;
}

.calendar_icon {
  width: 1.2rem;
}
.calandar_tex {
  font-size: 0.7rem;
  font-weight: 800;
  color: #7e7c89;
}
.down_arrow {
  width: 1rem;
}
.calendar_text_arrowdown {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.4rem;
}


